body{
    background-image: url('../images/white-cloud-blue-sky.jpg');
    /* background-image: url('path/to/your/image.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}


.container{
    margin: 0 auto;
    padding: 20px;
}

.weather__box{
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.222);
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 5px;
    box-shadow: inset;
    color: white;
    display: flex;
    justify-content: space-between;
    /* padding: 50px; */
}

.adress{
    color: rgb(248, 250, 251);
}

.weather__box{
    display: flex;
}

.temprature__title{
    font-size: 200px;
    margin: 0;

}


.address__info{
    margin-left: 30px;
        margin-top: 30px;
}

.wind__speed{
    margin-right: 30px;
    margin-top: 30px;
}

.address__text{
    font-size: 60px;
}
.addres__title{
    font-size: 50px;
}

.wind__text{
    font-size: 40px;
}